<a href="https://colab.research.google.com/github/feliperodighero/Machine-Learning-Study/blob/main/UnbalancedData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

from imblearn.over_sampling import SMOTENC
from sklearn.preprocessing import LabelEncoder

In [4]:
df = pd.read_csv('credit_simple.csv', sep=';')

In [5]:
df.shape

(1000, 8)

In [8]:
df.head()

,SALDO_ATUAL,RESIDENCIADESDE,IDADE,OUTROSPLANOSPGTO,DATA,ESTADOCIVIL,PROPOSITO,CLASSE
0,1169.0,4,67,nenhum,01/01/2019,masculino solteiro,radio/tv,bom
1,5951.0,2,22,nenhum,01/01/2020,fem div/cas,radio/tv,ruim
2,2096.0,3,49,nenhum,02/01/2020,masculino solteiro,educação,bom
3,7882.0,4,45,nenhum,02/01/2019,masculino solteiro,mobilia/equipamento,bom
4,4870.0,4,53,nenhum,03/01/2018,masculino solteiro,carro novo,ruim

In [11]:
count = df.groupby('CLASSE').size()
count

CLASSE
bom     700
ruim    300
dtype: int64

In [12]:
X = df.drop('CLASSE', axis=1).values
y = df['CLASSE'].values

In [13]:
label_encoder = LabelEncoder()

In [14]:
for i in range(X.shape[1]):
    if X[:, i].dtype == 'object':
        X[:, i] = label_encoder.fit_transform(X[:, i])

In [17]:
sm = SMOTENC(random_state=0, categorical_features=[3, 5, 6])
X_res, y_res = sm.fit_resample(X, y)

In [20]:
df_2 = pd.DataFrame({'CLASSE': y_res})
df_2.value_counts()

CLASSE
bom       700
ruim      700
Name: count, dtype: int64